:root {
      --padding-all-sides: .5vw;
      --margin-all-sides: .5vw;
      --trance: 300ms ease all;
}

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      border: 0;
      font-family: sans-serif; 
      transition: var(--trance);
      outline: 0;
}
main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      min-height: 100vh;
}
main * {
      margin: 4vh 0;
      text-align: center;
}


input {
      display: block;
      /*border: solid 1px rgba(0,0,0,.2);*/
      padding: var(--padding-all-sides);
      background: rgba(0,0,0,.1);
      padding: var(--margin-all-sides);
     

}
input:focus {
      /*transform: scale(1.2);*/
      margin: var(--margin-all-sides *);
}


.ui_button {
      padding: var(--padding-all-sides);
      /*margin: var(--margin-all-sides);*/
      background: black;
      color: white;

}

#urlEntry {
      /*height: 10vh;*/
      width: 70vh;
      background: transparent;
      border: 1px solid rgba(0,0,0,.1);
      font-size: 2vh;
      border-radius: 18px;
      padding: 18px;
      text-align: left

}

#urlEntry:focus {
      border-color: none;
      /*box-shadow: 0 10px 10px rgba(0,0,0,.2), 10px 0 10px rgba(0,0,0,.2);*/
      box-shadow: 0 10px 10px rgba(0,0,0,.1);
      border: 1px solid transparent;
      transform: scale(1.1);
}

#alertText, button.ui_button {
      font-size: 10px;
      font-style: italic;
      text-transform: uppercase;
      letter-spacing: 1px
}